.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

  .specials, .operators, .numbers {
      padding: 30px;
      background-color: #2061B0;
      border-radius: 50%;
      border: 0;
      color: white;
      font-size: 1.5rem;
      margin: 20px;
  }

  button {
    box-shadow: 2px 2px black;
  }


  